
<div class="container" style="text-align:center; color: whitesmoke; background-color: #2F4F4F;">
  <div>
      <h1>
        Welcome to {{ title }}!
      </h1><br><br><br><br>
      <div class="row">
        <div class="col-md-6" style="align-items: center; margin-left: 300px;">
      <h4>Welcome,  this is a github search app, you can search a github user's username then their name will be displayed with the number
         of followers, the number of followings, their location and the number of repositories they have.</h4><br><br><br><br>
    </div>
  </div>
    </div>
    <div class="app">
    <router-outlet></router-outlet>
    
    <!-- <app-user></app-user> -->
    
    </div>
  </div>