<h1 style="margin-left: 300px; background-color:darkgreen; color: whitesmoke;">The github user's Information</h1><br><br><br>
<div class="container">
    <div class="form-group">
        
        <label for="name"><h4><u>Input The UserName Here:</u></h4></label>
        <input type="text" name="githubUser" placeholder="Github Username" [(ngModel)]="userName">
        <button type="submit" class="btn btn-success" (click)="submitUser()">Search</button>
    </div>

    <blockquote class="text-center text-lg">
        <ul>
          <li appHighlight><br>
          <p><strong>{{user.name}}</strong></p>
          <img src="{{user.avatar_url}}">
          <br><br>

          <footer>
            <cite>
              <div class="row">
                <div class="col-md-6">
              <h4><I> Location</I>:{{user.location}} </h4><br><br>
              <h4><I>Followers</I>:{{user.followers}}</h4><br><br>
              <h4><I>Following:</I>{{user.following}}</h4><br><br>
              <h4><I>Number Of Repositories</I>:{{user.public_repos}}</h4><br><br>
            </div>